relations=Author->Book@name->authorName@books->author@ONE_OWNS_MANY,User->Right@name->userName@rights->user@ONE_OWNS_MANY,Shelve->Book@name->shelveName@books->shelve@ONE_OWNS_MANY,Book->ReadingTracker@name->bookName@trackers->book@ONE_OWNS_MANY,User->ReadingTracker@name->userName@trackers->user@ONE_OWNS_MANY,Book->Review@name->bookName@reviews->book@ONE_OWNS_MANY,User->Review@name->userName@reviews->user@ONE_OWNS_MANY,Review->Comment@id->reviewId@comments->review@ONE_OWNS_MANY
with_copy=User